// landing page design
@font-face {
  font-family: 'FuturaBook';
  src: url('../fonts/Futura-Bk-BT-Book.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

$aetm-gold: #FFDD5E;
$aetm-pink: #F46F7C;
$aetm-blue: #259CC2;
$aetm-white: #FFF;

body, h1, h2 {
  font-family: 'FuturaBook', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
  font-weight: 400;
}

body {
  box-shadow:0 0 0 22px $aetm-blue inset;
}

h1 {
  font-size: 37px;
  font-weight: 500;
  line-height: 1.08;
  letter-spacing: 2.1px;
  margin-bottom: 12px;
}

h2 {
  font-size: 24px;
  line-height: 29px;
}

.max-w-500 {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.margin-top {
  margin-top: 10px;
}

.container-padding {
  min-height: 100vh;

  padding: 0 30px 20px 30px;
  @include breakpoint(medium) {
    padding: 0 80px 30px 80px;
  }
}

.header {
  color: $aetm-blue;

  p {
    font-size: 19px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.1px;
    margin-bottom: 0;

    strong {
      font-size: 23px;
    }
  }
}

.countdown-content {
  color: $aetm-blue;

  .countdown-number {
    font-size: 100px;
    line-height: 120px;
    font-weight: 700;
  }

  .countdown-text {
    font-size: 20px;
    letter-spacing: 4px;
    line-height: 24px;
  }
}

.form-description {
  color: $aetm-pink;
  margin-top: 10px;

  h2 {
    margin-bottom: 0;
  }

  p {
    line-height: 19px;
    font-size: 16px;
    margin-bottom: 0;
  }
}

.form-content {
  label {
    color: #7F7F7F;
    margin-bottom: 5px;
  }

  input.text {
    border-style: solid;
    border-width: 3px;
    border-color: $aetm-gold;
    background-color: #FFFFFF;
    box-shadow: none;
    color: $aetm-pink;
    font-size: 14px;

    &:hover,
    &:active,
    &:focus {
      border-color: #F45363;
    }
  }

  input.button {
    border-style: solid;
    border-width: 3px;
    text-align: center;
    border-color: $aetm-gold;
    background-color: $aetm-pink;
    color: $aetm-white;
    border-radius: 2px;
    margin-bottom: 0;

    &:hover,
    &:active,
    &:focus {
      border-color: #F45363;
      outline: none;
    }
  }
}

.footer {
  color: $aetm-blue;

  p {
    font-size: 8px;
    line-height: 10px;
    margin-bottom: 0;
  }
}

.aetm-top-logo {
  display: block;
  position: absolute;
  top: 0;
  background-color: #FFFFFF;
  box-shadow: 2px 3px 8px rgba(21,93,114,0.2);

  left: 50%;
  transform: translateX(-50%);
  @include breakpoint(medium) {
    left: auto;
    transform: none;
    right: 100px;
  }

  img {
    width: 67px;
    height: 68px;
    margin: 15px;
  }
}

.rules {
  padding-bottom: 90px;
  h1 {
    margin-top: 30px;
    margin-bottom: 10px;
  }
  p {
    margin:0;
  }
}